.search-results {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;

  li {
    flex: 0 1 32%;
    // height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0; /* Some gutter */

    // &:nth-child(4n + 1) {
    //   width: 250px;
    // }

    // &:nth-child(4n + 2) {
    //   width: 325px;
    // }

    // &:nth-child(4n + 3) {
    //   width: 180px;
    // }

    // &:nth-child(4n + 4) {
    //   width: 380px;
    // }
  }

  img {
    height: 100%;
    width: 100%;
    // object-fit: cover;
  }
}

.search-result-content {
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
  }
}
