.home-banner {
  height: 80vh;
  position: relative;

  @media (min-width: $screen-md) {
    height: 100vh;
  }
}

.home-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-attachment: fixed;
}
